.quoteBox__btn {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
  
  .quoteBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    gap: 16px;
    width: 100%;
    height: 309.75px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.33) 100%);
    border-radius: 39px;

  }
  
  .quoteBox__phrase {
    display: flex;
    padding: 10px;
    width: 452.52px;
    height: 245px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.33) 100%);
    border-radius: 39px;
    font-family: 'Montserrat', sans-serif;

  }

  .quoteBox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .quoteBox__phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  