/* Estilos para el componente App */
.app {
  position: relative;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../espacio/bg1.jpg");
  background-size: cover;
  background-position: center;
}

.app.bg1 {
  background-image: url("../espacio/bg1.jpg");
}

.app.bg2 {
  background-image: url("../espacio/bg2.jpg");
}

.app.bg3 {
  background-image: url("../espacio/bg3.jpg");
}

.app.bg4 {
  background-image: url("../espacio/bg4.jpg");
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 300px);
  min-height: 100vh;
  padding: 0 10px;
  margin: 0 auto;
}

.app__container h1 {
  text-align: center;
  margin: 10px 0;
  color: #ffe561;
  text-shadow: bisque;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  text-shadow: 0px 2px 4px rgb(0, 0, 0);
}

/* Estilos para el componente QuoteBox */
.quoteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 39px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.33) 100%
  );
  font-family: "Montserrat", sans-serif;
}

.quoteBox__btn {
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f4ff61;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.quoteBox__phrase {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  padding: 10px;
  border-radius: 39px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.33) 100%
  );
}

.quoteBox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.quote__author {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 251, 27, 0.356);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.credito {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  margin: 5px 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  white-space: nowrap;
}
